@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  font-family: var(--font-jakarta);
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: rotation 5s linear infinite;
}

.custom-rotation {
  transform: perspective(1000px) rotateY(-20deg);
}

